@import url('https://fonts.googleapis.com/css?family=Pacifico');


.header {
	text-align: center;
	font-size: 75px;
	font-family: 'Pacifico', cursive;
	letter-spacing: 3px;
	color: black;
}

.header:hover {
	color: pink;
}