span{
	color: #4183C4;
}

/*span:hover{
	color: #1e70bf;
	cursor: pointer;
}
*/
.postOwner{
	color: #000000;
}

.postOwner:hover{
	color: #000000;
}

.followingComponent{
	/*border: 1px solid black;
	border-radius: 10px;*/
	border-style: solid;
	background-color: #4284C4;
	color: #FFFFFF;
	border-width: 1px;
	border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
	border-radius: 5px;
}

/*.followingComponent:hover{
	color: #000000;
}*/

button:hover{
	cursor: pointer;
	border-color: #000000;
}

.navbar{
	display: flex;
	justify-content: space-around;
	/*border: 1px solid #F2F2F2;*/
	width: 100%;
	margin: 0 auto;
	/*box-shadow: 2px 2px 2px 2px grey;*/
	margin-top: 10px;
	margin-bottom: 20px;
}

.navbar-segment{
	width: 100%;
	opacity: 1.0;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid #F2F2F2;
}

.navbar-segment:hover{
	background-color: #F2F2F2;

}

.hover:hover{
	color: black;
}

