span{
	color: #4183C4;
}

span:hover{
	color: #1e70bf;
	cursor: pointer;
}

.postOwner{
	color: #000000;
}

.postOwner:hover{
	color: #000000;
}

button:hover{
	cursor: pointer;
	border-color: #000000;
}